@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Variables */
:root {
    --arena:#EFEEE8;
    --negro: #231f20;
    --negro-2: #15191D;
}

/* Generales */

body {
    font-family: "Poppins", serif, Arial;
}

img {
    -webkit-user-drag: none;
    user-drag: none;
}

.title-section-home {
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
}

.img-section{
    aspect-ratio: 1;
    object-fit: cover;
    width: 300px;
    height: auto;
}

.bg-feat-color{
    background-color: var(--bg-titulos);
}

.text-justify{
    text-align: justify;
}

.section-padding{
    padding-block: 5rem;
}

/* .btn-td {
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 2em;
    border: 3px solid var(--negro);
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: var(--negro);
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;

    &:before {
        transition: 0.5s all ease;
        position: absolute;
        top: 0;
        left: 50%;
        right: 50%;
        bottom: 0;
        opacity: 0;
        content: '';
        background-color: var(--negro);
        z-index: -1;
      }

      &:hover{
        color: white;
        &:before{
            transition: 0.5s all ease;
            left: 0;
            right: 0;
            opacity: 1;
        }
      }

      &:focus{
        color: white;
        &:before {
            transition: 0.5s all ease;
            left: 0;
            right: 0;
            opacity: 1;
          }
      }

      &:active {
        transform: scale(0.9);
      }
  }
   */
  

.btn-td {
    padding: 0.2rem 4.5rem;
    font-size: 1.4rem;
    transition: filter 0.3s ease;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    text-align: center;

    &:hover {
        filter: opacity(75%);
    }
}

.btn-negro{
    display: inline-block;
    padding: 20px 30px;
    background-color: var(--negro-2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: all 0.3s ease;
    letter-spacing: 2px;

    &:hover{
        background-color: rgba(255, 255, 255, 0.1);
        border-color: rgba(255, 255, 255, 0.3);
        transform: translateY(-2px);
        
    }
    &:active{
        transform: translateY(0);
    }
}

/* Navegacion */

.navbar {
    background-color: transparent;
    position: absolute;
    z-index: 10;
    width: 100%;
    transition: 0.6s;

    & .logo-mobile{
        margin-right: auto;
        margin-left: auto;
        & img{
            width: 100px;
            transition: 0.4s;
        }
    }

    & .navbar-nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        /* width: 100%; */

        & .nav-link {
            color: white;
            /* margin: 0 1rem; */
            text-transform: uppercase;
            transition: 0.5s;
        }

        & .navbar-logo {
            width: 150px;
            height: auto;
            transition: 0.5s;
        }

        & .language-switcher {
            position: absolute;
            top: -30px;
            color: #FFFFFF;
        
            & a {
                color: white;
                font-size: 0.8rem;
                letter-spacing: 0.1em;
            }
        }

        & .search-bar {
            background-color: transparent;
            border: 1px solid white !important;
            border-radius: 0.9rem;
            color: white !important;
            outline: none;
            /* width: 200px; */
            height: 30px;
            background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"%3E%3Cpath stroke="white" stroke-linecap="round" stroke-width="2" d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z"/%3E%3C/svg%3E');
            background-position: center left 10px;
            background-repeat: no-repeat;
            background-size: 20px;
            transition: 0.4s;
            box-sizing: border-box;
            padding-left: 35px;

            &:focus {
                background-color: inherit;
                color: #fff;
            }

            &::placeholder {
                color: white;
                opacity: 0.7;
            }
        }
    }

    & .navbar-toggler {
        border: none;
        background: none;
        &:focus{
            box-shadow: none;
        }
        &  .navbar-toggler-icon {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
            transition: 0.4s;
        }
        
    }

    /* SCROLL */

    &.navbar-scrolled {
        height: 60px;
        background-color: #FFFFFF;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        
        & .navbar-toggler {
            & .navbar-toggler-icon {
             filter: invert(1);   
            }
        }

        & .search-icon {
            filter: invert(1);
        }
    

        & .logo-mobile{
            & img{
                width: 50px;
                filter: invert(1);
            }
        }

        & .navbar-logo{
            width: 60px;
            filter: invert(1);
            
        }

        & .nav-link {
            color: #000000;
          }

          & .navbar-nav {

            & .flex-column:has(.language-switcher) {                
                flex-direction: row!important;
                gap: 10px;
              }

            & .language-switcher {
                color: var(--negro);
                position: static;
                width: 30%;
                text-align: start;
                order: 2;
            
                & a {
                    color: var(--negro);
                }
            }

            & .search-bar {
                border: 1px solid var(--negro) !important;
                color: var(--negro)!important;
                height: 30px;
                background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"%3E%3Cpath stroke="black" stroke-linecap="round" stroke-width="2" d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z"/%3E%3C/svg%3E');
                width: 70%;
    
                &:focus {
                    background-color: inherit;
                }
    
                &::placeholder {
                    color: var(--negro);
                    opacity: 0.7;
                }
            }
            
          }
      }
}


/* Media Queries */

@media screen and (width <=991px) {
    nav {
        /* background-color: var(--negro) !important; */

        & .search-icon{
            width: 54px;
            text-align: center;
            transition: 0.4s;

            & svg {
                width: 24px;
                height: 24px;
                cursor: pointer;
                transition: transform 0.3s ease;
                &:hover {
                    transform: scale(1.1); /* Efecto de hover */
                  }
              }
        }

        & .navbar-nav {
            padding-bottom: 1.3rem;
            & .navbar-logo {
                width: 160px;
                height: auto;
                transition: 0.5s;
            }
            & .nav-link {
                color: black!important;
                /* margin: 0 1rem; */
                text-transform: uppercase;
            }

            & .search-bar {
                background-color: transparent;
                border: 1px solid white !important;
                border-radius: 0.9rem;
                color: white !important;
                outline: none;
                /* width: 200px; */
                height: 30px;
    
                &:focus {
                    background-color: inherit;
                    color: #fff;
                }
    
                &::placeholder {
                    color: white;
                    opacity: 0.7;
                }
            }
        }

        & .language-switcher-mobile {
            display: flex;
            justify-content: center;
            color: var(--negro);
            margin-top:2rem;
    
            & a {
                font-size: 0.8rem;
                letter-spacing: 0.1em;
                color: var(--negro);
                text-transform: uppercase;
            }
        }
    }

}

header {
    /* CAROUSEL HERO */
    .swiper-hero {
        width: 100%;
        height: 100vh;

        & .swiper-slide img,
        .swiper-slide video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        & .swiper-slide {
            pointer-events: auto;
        }

        & .swiper-button-next,
        .swiper-button-prev {
            color: #FFFFFF;
        }

        & .swiper-pagination-bullet-active {
            background: #FFFFFF;
        }

        & .hero-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
            z-index: 1;
            pointer-events: none;

            & a {
                pointer-events: auto;
                z-index: 2;
            }


            & h1 {
                letter-spacing: 0.5rem;
                text-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
                text-align: center;
            }

            & .hero-btn {
                display: inline-block;
                margin-top: 3rem;
                padding: 20px 30px;
                font-size: 1.2rem;
                background-color: var(--negro-2);
                color: #FFFFFF;
                border-radius: 10px;
                text-decoration: none;
                transition: all 0.3s ease;
                font-weight: 300;
                letter-spacing: 2px;
                &:hover {
                    filter: brightness(1.7);
                    transform: translateY(-2px);
                }
                &:active{
                    transform: translateY(0);
                }                

            }
        }
    }
}

.info-home {
    background: var(--negro-2);
    color: #FFFFFF;
    & img {
        width: 200px;
        height: auto;
        display: block;
        margin: 0 auto;
    }
}

.top-10 {

    & .swiper-top-10 {

        & .swiper-slide {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            overflow: hidden;

            & a{
                position: relative;
                text-decoration: none;

                &::after{
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(
                        180deg,
                        transparent 50%,
                        transparent 30%,
                        rgba(0,0,0,1) 95%
                    );
                }
            }
        }

        & img {
            max-width: 100%;
            max-height: 100%;
            width: 300px;
            height: 400px;
            object-fit: cover;
        }

        & .swiper-pagination {
            position: static;
            margin-top: 3rem;
        }

        & .swiper-pagination-bullet{
            background: #FFF;
            border: 1px solid black;
            width: 11px;
            height: 11px;
            opacity: 1;
        } 

        & .swiper-pagination-bullet-active {
            background: #000000;
            border: 1px solid #000000;
        }

        & .image-title {
            font-size: 1rem;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #FFF;
            position: absolute;
            bottom: 1.5rem;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
        }

    }
}

.entradas-blog {
    background-color: var(--arena);

}

.pre-footer {
    background-color: #FFFFFF;

    & img {
        width: 170px;
        height: auto;
    }
}

footer {
    background-color: var(--negro);
    color: #FFFFFF;
    font-size: 0.7rem;

    & h3 {
        font-size: 0.8rem;
        text-transform: uppercase;
        
    }

    & a {
        text-decoration: none;
        color: inherit;

        &.underline{
            border-bottom: 1px solid white;
        }

    }

    & .logo {
        & img {
            width: 90px;
            height: auto;
        }
    }

    & .rrss {
        & img {
            width: 25px;
            height: auto;
        }
    }

}

/* SECCIONES INTERNAS */

.hero-section {
    min-height: 600px;
    position: relative;
    overflow: hidden;

    & img{
        width: 100%;
        height: 100% !important;
        position: absolute;
        object-fit: cover;
        object-position: center bottom;
        top: 0;
        left: 0;
        z-index: 1;
    }

    & .overlay{
        background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
        z-index: 2;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    & h1{
        z-index: 3;
        letter-spacing: 0.5rem;
        font-size: 2rem;
        font-weight: 400;
        text-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
        text-align: center;
        text-transform: uppercase;
        color:#FFF;
    }
  }

  .section-pagination{

    & .pagination {

        gap: 0.5rem;

        & .page-link {
            border: none;
            color: #000;
            width: 32px;
            height: 32px;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 1;
            
            &:hover {
                background-color: transparent;
                color: #000;
            }
            
            &:focus {
                box-shadow: none;
            }
        }
    }
    
    & .page-item.active .page-link {
        background-color: #000;
        color: #fff;
        
    }
    
  }

